<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/"> go home</a>
            <a href="/logout">Log Out</a>
        </li>
    </ul>
</nav>

<h1>Welcome [[${username}]]</h1>
<h2>Make a new user</h2>
<form action="/signUp" method="POST">
    Username<input type="userName" name="username" >
    Password<input type="password" name="password">
    First Name<input type="text" name ="firstName" >
    Last Name<input type="text" name="lastName" >
    Date of Birth<input type="date" name="dateOfBirth" >
    Bio <input type="test" name="bio" >
    <input type="submit">
</form>

</body>
</html>